@model TP_WEB.Models.Portfolio

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" name="viewport" />
    <title>MouhammadWDiouf</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
          rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Ultra&display=swap" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="https://kit.fontawesome.com/6fa5dbff09.js" crossorigin="anonymous"></script>
    <script defer src="script.js" defer></script>

</head>


<h1>Détails</h1>

<div>
    <h4>Portfolio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (Model.ImageID != null)
            {
                <img src="@string.Format("data:{1};base64,{0}", Convert.ToBase64String(Model.Image!.ImageData!), Model.Image.ContentType)" height="250" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TechnologieUtilise)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TechnologieUtilise)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreHeure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreHeure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseWeb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseWeb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleProjet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleProjet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afficher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afficher)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</html>
